body {
  color: 404041;
  font-family: "Open Sans";
  margin: auto;
  text-align: center;
}

/*header */
header {
  background-color: #404041;
  font-size: 25px;
  color: #ED458B;
  height: 50px;
  display: block;
  padding: 25px 0px 0px 25px;
}

header h3{
  text-align: center;
  font-weight: 700;
}

span {
  color: #E6E7E8;
  font-weight: 300;
}

/*btn styles*/
button {
  margin: 5px;
  border-style: none;
  border-radius: 25px;
  height: 25px;
  width: 200px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #EB008B;
}

input {
  margin: 5px;
  height: 25px;
  width: 200px;
}

.space {
  margin-top: 20px;
}

#user-input-display {
  font-size: 200px;
  color: #ED458B;

}




/*#clear-button {
  border-radius: 25px;
  height: 25px;
  width: 200px;
}*/


/*
@media screen and (max-width: 350px) {
  button{
    margin: 5px 0;
    width: 50%;
  }
}*/
